# OS files
.DS_Store
Thumbs.db
desktop.ini
update_repo.bat
update_repo.sh
.gitignore

# Editor / IDE temp files
*.sublime-project
*.sublime-workspace
*.vscode/
*.idea/

# Backup or temp files
*.bak
*.tmp
*.old

# Logs
*.log
